{
    "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 3,
                "useBuiltIns": "usage",
                "targets": [
                    ">0.5%",
                    "last 2 versions",
                    "node >= 10",
                    "not dead"
                ]
            }
        ],
        "@babel/preset-react"
    ]
}
